$bg: #f5f5f5;
$color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg;
  color: $color;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  span {
    text-decoration: none;
    color: $color;
    font-weight: bold;
    cursor: pointer;
  }
}
.container {
  width: 400px;
  min-height: 500px;
  border: 0.5px solid $color;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .inputs {
    width: 100%;
    padding: 10px 0;
    position: relative;
    input {
      display: flex;
      width: 90%;
      min-height: 40px;
      border: none;
      outline: none;
      margin: 30px 0;
      margin-left: 5%;
      padding: 0 10px;
      background: transparent;
      justify-content: center;
      align-items: center;
      border-bottom: 0.5px solid $color;
    }
    input:focus {
      border-bottom: 2px solid $color;
    }
    #btn {
      width: 90%;
      margin: 20px 0;
      margin-left: 5%;
      padding: 10px 0;
      border: none;
      outline: none;
      background: $bg;
      color: $color;
      border: 1px solid $color;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      cursor: pointer;
      border-radius: 5px;
    }
    #btn:hover {
      background: $color;
      color: $bg;
      transition: all 0.3s ease-in-out;
    }
  }
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 1px;
  }
}

.todo-form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-todo {
    width: 500px;
    min-height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;

    &.blur{
      filter: blur(10px);
    }
    h1 {
      margin-top: -18px;
      margin-bottom: 10px;
    }
    #titlew {
      font-size: 15px;
      max-width: 200px;
    }

    .inputs {
      position: relative;
      margin-bottom: 20px;
    }

    .input {
      display: flex;
      flex-direction: column;
      height: 40px;
      width: 100%;
      outline: none;
      border: none;
      padding: 15px;

      font-size: 20px;
    }

    .inputs #add-btn {
      width: 100px;
      height: 40px;
      background: #ccc;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      font-weight: bold;
    }

    .input:focus {
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .inputs #add-btn:hover {
      background: #ddd;
    }

    hr {
      margin: 20px 0;
    }

    .todo-item {
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: 25px;
    }

    .todo-item #del {
      position: absolute;
      right: 0;
      cursor: pointer;
      font-weight: bold;
      color: #ccc;
    }

    .todo-item #del:hover {
      color: #000;
    }

    .todo-item #edit {
      position: absolute;
      right: 40px;
      cursor: pointer;
      font-weight: bold;
      color: #ccc;
    }
    .todo-item #edit:hover {
      color: #000;
    }
  }

  #btn-dis {
    width: 10px;
    height: 40px;
    background: #ccc;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -1.9%;
    overflow: hidden;
    transition: 0.3s;
  }

  #btn-dis::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background: #ccc;
    transition: 0.3s;
  }

  #btn-dis:hover::before {
    background: transparent;
  }

  #btn-dis:hover {
    width: 100px;
  }
  .popup {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-top: -18px;
      margin-bottom: 10px;
      font-size: 25px;
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      button {
        width: 100px;
        height: 40px;
        background: #ccc;
        border: none;
        cursor: pointer;
        font-weight: bold;
        margin: 30px;
        align-items: center;
        justify-content: center;
       background-color: #4caf50;
       border-radius: 5px;
       color: #fff;
        transition: all 0.3s ease-in-out;
        text-transform: capitalize;
      }

      button:last-child {
    background-color: #f44336;

      }
      // get the first button
      button:first-child:hover {
    background-color: #46a049;

      }
      button:last-child:hover {
        
        
        background-color: #da190b;

      }
    }
  }

}
